@charset "UTF-8";

form{
	margin-top : 60px;
	margin-bottom : 40px;
}

h3{
	display: flex;
	justify-content : center;
	margin-bottom : 30px;
}

.profil{
	display: flex;
	justify-content : space-between;
	align-items: center;
	margin-bottom : 10px;
}

.profilInfos{
    width : 200px;
    margin-left : auto;
    margin-right : auto;
}

.formConnexion{
    width : 400px;
    padding-left : 15px;
    margin-left : auto;
    margin-right : auto;

}
 
.formItemConnexion{
	display: flex;
	justify-content : space-between;
	align-items: center;
	margin-bottom : 10px;
	
	padding-left : 40px;
	padding-right : 60px;
	
	gap : 10px 50px;
	flex-wrap : wrap;
    width : 500;
	
}
.connexion{
    padding-left : 75px;
	display: flex;
	gap : 10px 20px;
}

.connexionOptions{
	display: flex;
	flex-direction : column;
}

.btnConnexion{
    width : 115px;
    margin-left : auto;
    margin-right : auto;
	margin-top : 40px;
	 
}



.n{}