@charset "UTF-8";
/* ======================variable============================*/
	$margPadSection: 0.5em;
	$bleupastel: rgba(25, 219, 245, 0.781);
	$vertpastel:rgba(102, 255, 230, 0.801);
	$couleurArticle: rgba(102, 179, 255, 0.616);
	$linearRadListeEnch:  rgba(255, 255, 255, 0.829);
	$testpx: 3px solid black;
	$btnForm:1em;
	$bordRad: 1em;
/* ==========================================================*/
/* 						body & html							 */
/* ==========================================================*/
// html{
// }
body{
	display: flexbox;
	flex-direction: column;
	height: 100%;
}

/* ==========================================================*/
/* 						header								 */
/* ==========================================================*/
header{

	background-color: rgb(25, 220, 245);
	background: linear-gradient(to top ,$bleupastel,20%, $linearRadListeEnch) ;
	border-radius: $bordRad;
	padding: $margPadSection;
	margin-bottom: $margPadSection;

	height: 20%;

	display: flex;

	flex-direction: row;
	flex-wrap: wrap;

	align-items: center;
	justify-content: space-between;

	padding-right: 20px;

	.lienConnection {
		margin-right: 20px;
	}
	.logoEnchere{
		background-color: $bleupastel;
		border-radius: $bordRad;

		a{
			display: block;
			width: 100%;
			height: 100%;

		}
		h4{
			display: block;
			margin: $margPadSection;
		}
	}
	.logoEnchere:hover{
			background-color: #ffffff;
	}
}

/* ==========================================================*/
/* 						Section Liste Enchere				 */
/* ==========================================================*/
.SectionListeEnchere{
	border-radius: $bordRad;


	h3{
		// background-color: $vertpastel;
		background: linear-gradient(to bottom,$vertpastel, $linearRadListeEnch) ;
		border-radius: $bordRad;

		padding: 2%;
		font-size: x-large;

	}
	h4{
		// border: $testpx solid black;
		padding: $margPadSection;
		text-decoration: underline;

	}
	form{
		// border: $testpx solid black;
		height: 20;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		// justify-content: center;
		// padding-left: 10px;
		// padding-right: 10px;
		padding: $margPadSection;


		.selectionneur{
			// border: $testpx solid red;

			display: flex;
			flex-direction : column;
			padding: auto;
		}
		.divBtRechercher{
			display: flex;
			// border: $testpx solid red;
			justify-content: center;
			align-items : center;
			padding: 1em;
			.btnRechercher{
				font-size: large;
				padding: $btnForm;
			}
		}
		.selectionneurSpe{
			// border: $testpx solid rgb(0, 190, 79);
			.labCatgorie{
				padding: $margPadSection;

			}
		}
	}
	.achatVente{
		display: flex;
		justify-content: space-around;
		padding: 1em;
		border-radius: $bordRad;
		background-color: aliceblue;
		.achat{
			display: flex;
			flex-direction: column;
			padding: $margPadSection;
			margin: $margPadSection;
			.labelAchat{
				display: flex;
				justify-content: space-between;
				flex-direction:row ;
				width: auto;
				margin: $margPadSection;
				.labelTitreAchat{
					background-color: beige;
					padding: 1em;
					border-radius: $bordRad;
				}
				label{
					display: inline-block;
					padding: 0.3em;
				}
				input{
					display: inline-block;
				}
			}

		}
		.vente{
			display: flex;
			flex-direction: column;
			padding: $margPadSection;
			border-radius: $bordRad;
			background-color: aliceblue;
			margin: $margPadSection;
			.labelVente{
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				width: auto;
				margin: $margPadSection;
				.labelTitreVente{
					background-color: beige;
					padding: 1em;
					border-radius: $bordRad;
				}
				label{
					display: inline-block;
					padding: 0.3em;
				}
				input{
					display: inline-block;
				}
			}

		}
	}
}


/* ==========================================================*/
/* 						footer								 */
/* ==========================================================*/

footer{

	background-color:$bleupastel;
	background-repeat: no-repeat;
	background-size: 100% 4em;

	border-radius: $bordRad;

	margin-top: $margPadSection;

	display: flex;
	justify-content: space-evenly;


	width:100%;

	.copyright{
		display: block;
		font-size: large;

	}
	.MentionsLegals{
		display: block;
		font-size: large;

	}
	.ContactezNous{
		display: block;
		font-size: large;

	}
	.Cookies{
		display: block;
		font-size: large;

	}

}

/* ==========================================================*/
/* 						Apercu Article						 */
/* ==========================================================*/

.annonces{

	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;

	min-width: 20em;


	background-color: $couleurArticle;
	border-radius: $bordRad;
	article{
		display: block;

		background-color: $couleurArticle;

		border-radius: $bordRad;

		margin: $margPadSection;
		padding: $margPadSection;

		max-width: 15em;

		.divImg{
			background-color: aqua;
			border-radius: $bordRad;
			height: 10em;
			padding: $margPadSection;
			margin: $margPadSection;

		}
		.imgArticle{
			height: 100px;
			width: 100px;
		}
		.caseTxt{
			padding: $margPadSection;
			margin: $margPadSection;
		}

	}
}



h3 {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.titreIndex {
	display: flex;
	justify-content: center;
}

.formConnexionC {
		display: flex;
		flex-direction: column;
	}
// .label {
//     width: 150px;
//     margin-left: 40px;
// }
.input {
    margin-bottom: 15px;
    margin-right: 40px;
}
.formItemConnexionC {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.profil {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.profilInfos {
	width: 260px;
	margin-left: auto;
	margin-right: auto;
}

.formItemConnexionMDP {
	display: flex;
	align-items: flex-start;
	gap: 10px 40px;
}

.connexion {
	display: flex;
	justify-content: center;
	gap: 5px 10px;
}

.btnConnexion {
	padding-left: 75px;
	display: flex;
	gap: 10px 20px;
}

.formGroupeItemConnexion {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px 1px;
}

.connexionOptions {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.btn {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.btnRetour {
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

.selectionCategorie{
        height: 20px;
        width: 180px;
}

/* ===========================en dessous de 609px===============================*/


@media (max-width : 609px) {

	.liens {
	width : 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content : center;
	padding-left: 10px;
    }

	.txtRecherche {
		height: 20px;
		width: 300px;
	}

    .formConnexionC {
		display: flex;
		flex-direction: column;
	}
	// .label {
	// 	width: 150px;
	// 	margin-left: 40px;
	// }
	// .input {
	// 	margin-bottom: 15px;
	// 	margin-right: 40px;
	// }
	.formItemConnexionC {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.achatVente{
		display: flex;
		flex-direction: column;
	}
	.selectionCategorie{
			height: 2em;
			width: 6em;
	}


}

/* ===========================au dessus de 700 px===============================*/

@media ( min-width : 610px) {
	.txtRecherche {
		height: 20px;
		width: 270px;
	}
	.btnRecherche {
		height: 60px;
		width: 200px;
		// margin-left:60px;
	}

	.liens {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
    }

    .formConnexionC {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	// .label {
	// 	width: 100px;
	// 	margin-left: 15px;
	// 	margin-right: 10px;
	// }
	// .input {
	// 	margin-bottom: 15px;
	// 	margin-right: 15px;
	// }
	.formItemConnexionC {
		display: flex;
	}

}


