@charset "UTF-8";

.case{
	display: flex;
	flex-direction: row;
	border:  medium;
	border-style: solid;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	max-width: 400px
}

h4{
	text-decoration: underline;
}

img{
	height: 100px;
	width: 100px;
}