@charset "UTF-8";

form {
	margin-top: 60px;
	margin-bottom: 40px;
}

h3 {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

@media ( max-width : 569px) {
	.formConnexionC {
		display: flex;
		flex-direction: column;
	}
	.label {
		width: 150px;
		margin-left: 40px;
	}
	.input {
		margin-bottom: 15px;
		margin-right: 40px;
	}
	.formItemConnexionC {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

@media ( min-width : 570px) {
	.formConnexionC {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.label {
		width: 100px;
		margin-left: 15px;
		margin-right: 10px;
	}
	.input {
		margin-bottom: 15px;
		margin-right: 15px;
	}
	.formItemConnexionC {
		display: flex;
	}
}

.profil {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.profilInfos {
	width: 260px;
	margin-left: auto;
	margin-right: auto;
}

.formItemConnexionMDP {
	display: flex;
	align-items: flex-start;
	gap: 10px 40px;
}

.connexion {
	display: flex;
	justify-content: center;
	gap: 5px 10px;
}

.btnConnexion {
	padding-left: 75px;
	display: flex;
	gap: 10px 20px;
}

.formGroupeItemConnexion {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px 1px;
}

.connexionOptions {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.btn {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.btnRetour {
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

.n {
	
}