/* ======================variable============================*/
/* ==========================================================*/
/* 						body & html							 */
/* ==========================================================*/
body {
  display: flexbox;
  flex-direction: column;
  height: 100%;
}

/* ==========================================================*/
/* 						header								 */
/* ==========================================================*/
header {
  background-color: #19dcf5;
  background: linear-gradient(to top, rgba(25, 219, 245, 0.781), 20%, rgba(255, 255, 255, 0.829));
  border-radius: 1em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
header .lienConnection {
  margin-right: 20px;
}
header .logoEnchere {
  background-color: rgba(25, 219, 245, 0.781);
  border-radius: 1em;
}
header .logoEnchere a {
  display: block;
  width: 100%;
  height: 100%;
}
header .logoEnchere h4 {
  display: block;
  margin: 0.5em;
}
header .logoEnchere:hover {
  background-color: #ffffff;
}

/* ==========================================================*/
/* 						Section Liste Enchere				 */
/* ==========================================================*/
.SectionListeEnchere {
  border-radius: 1em;
}
.SectionListeEnchere h3 {
  background: linear-gradient(to bottom, rgba(102, 255, 230, 0.801), rgba(255, 255, 255, 0.829));
  border-radius: 1em;
  padding: 2%;
  font-size: x-large;
}
.SectionListeEnchere h4 {
  padding: 0.5em;
  text-decoration: underline;
}
.SectionListeEnchere form {
  height: 20;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0.5em;
}
.SectionListeEnchere form .selectionneur {
  display: flex;
  flex-direction: column;
  padding: auto;
}
.SectionListeEnchere form .divBtRechercher {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.SectionListeEnchere form .divBtRechercher .btnRechercher {
  font-size: large;
  padding: 1em;
}
.SectionListeEnchere form .selectionneurSpe .labCatgorie {
  padding: 0.5em;
}
.SectionListeEnchere .achatVente {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  border-radius: 1em;
  background-color: aliceblue;
}
.SectionListeEnchere .achatVente .achat {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 0.5em;
}
.SectionListeEnchere .achatVente .achat .labelAchat {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  margin: 0.5em;
}
.SectionListeEnchere .achatVente .achat .labelAchat .labelTitreAchat {
  background-color: beige;
  padding: 1em;
  border-radius: 1em;
}
.SectionListeEnchere .achatVente .achat .labelAchat label {
  display: inline-block;
  padding: 0.3em;
}
.SectionListeEnchere .achatVente .achat .labelAchat input {
  display: inline-block;
}
.SectionListeEnchere .achatVente .vente {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border-radius: 1em;
  background-color: aliceblue;
  margin: 0.5em;
}
.SectionListeEnchere .achatVente .vente .labelVente {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  margin: 0.5em;
}
.SectionListeEnchere .achatVente .vente .labelVente .labelTitreVente {
  background-color: beige;
  padding: 1em;
  border-radius: 1em;
}
.SectionListeEnchere .achatVente .vente .labelVente label {
  display: inline-block;
  padding: 0.3em;
}
.SectionListeEnchere .achatVente .vente .labelVente input {
  display: inline-block;
}

/* ==========================================================*/
/* 						footer								 */
/* ==========================================================*/
footer {
  background-color: rgba(25, 219, 245, 0.781);
  background-repeat: no-repeat;
  background-size: 100% 4em;
  border-radius: 1em;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
footer .copyright {
  display: block;
  font-size: large;
}
footer .MentionsLegals {
  display: block;
  font-size: large;
}
footer .ContactezNous {
  display: block;
  font-size: large;
}
footer .Cookies {
  display: block;
  font-size: large;
}

/* ==========================================================*/
/* 						Apercu Article						 */
/* ==========================================================*/
.annonces {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  min-width: 20em;
  background-color: rgba(102, 179, 255, 0.616);
  border-radius: 1em;
}
.annonces article {
  display: block;
  background-color: rgba(102, 179, 255, 0.616);
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.5em;
  max-width: 15em;
}
.annonces article .divImg {
  background-color: aqua;
  border-radius: 1em;
  height: 10em;
  padding: 0.5em;
  margin: 0.5em;
}
.annonces article .imgArticle {
  height: 100px;
  width: 100px;
}
.annonces article .caseTxt {
  padding: 0.5em;
  margin: 0.5em;
}

h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.titreIndex {
  display: flex;
  justify-content: center;
}

.formConnexionC {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 15px;
  margin-right: 40px;
}

.formItemConnexionC {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.profilInfos {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.formItemConnexionMDP {
  display: flex;
  align-items: flex-start;
  gap: 10px 40px;
}

.connexion {
  display: flex;
  justify-content: center;
  gap: 5px 10px;
}

.btnConnexion {
  padding-left: 75px;
  display: flex;
  gap: 10px 20px;
}

.formGroupeItemConnexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 1px;
}

.connexionOptions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btnRetour {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.selectionCategorie {
  height: 20px;
  width: 180px;
}

/* ===========================en dessous de 609px===============================*/
@media (max-width: 609px) {
  .liens {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
  }

  .txtRecherche {
    height: 20px;
    width: 300px;
  }

  .formConnexionC {
    display: flex;
    flex-direction: column;
  }

  .formItemConnexionC {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .achatVente {
    display: flex;
    flex-direction: column;
  }

  .selectionCategorie {
    height: 2em;
    width: 6em;
  }
}
/* ===========================au dessus de 700 px===============================*/
@media (min-width: 610px) {
  .txtRecherche {
    height: 20px;
    width: 270px;
  }

  .btnRecherche {
    height: 60px;
    width: 200px;
  }

  .liens {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
  }

  .formConnexionC {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .formItemConnexionC {
    display: flex;
  }
}

/*# sourceMappingURL=styleIndex.css.map */
